*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
     height: 60px;
    background-color: #0f1111;
            color: white;
            display: flex;
            justify-content: space-evenly;
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url(logo.png);
    background-size: cover;
}
.navbarlogo{
  height: 50px;
  width: 100px;  
    border: 2px solid transparent ;


}
.navbarlogo:hover{
    border: 2px solid white;
}
.location{
    border: 2px solid transparent;
    height: 50px;
    width: 150px;
   
    
}
.location:hover{
    border: 2px solid white ;
}

.addicon{
    width: 150px;
    position: relative;
    top: 7px;
    right: 3px;
}
.search{
    border: 1px solid white;
    display: flex;
    height: 50px;
    width:500px;
    background-color: white;
    border-radius: 3px;
    
}
.searchicon{
position: relative;

   width: 50px; 
    background-color: gold;
}
.Account{
    height: 50px;
    border: 1px solid transparent;
}
.list{
    position: relative;
top: 11px;
    border: 2px solid transparent;
}
.Account:hover{
    border: 1px solid white;
}
.orders{
    height: 50px;
    border: 1px solid transparent;
}
.returns{
    position: relative;
top: 11px;
    border: 2px solid transparent;
}
.orders:hover{
    border: 1px solid white;
}
#cart{
    height:40px;
    background-size: cover;
    position: relative;
    top: 10px;
    
}
.cartinner{
    position: relative;
    left: 60px;
    bottom: 15px;
    
}
.cartouter{
    border: 2px solid transparent;
    width: 100px ;
    height: 50px;
}
.cartouter:hover{
    border: 2px solid white;
    width: 100px ;
    height: 50px;
}
.navbar2{
    color: white;
    height: 40px;
    background-color: #222d3d;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
}

.first{
    background-image:url(first.jpg) ;
    height: 300px;
background-size: cover;
border: 2px solid none;
position: relative;
top: 10px;
}
   .first:hover{
    border: 2px solid brown;
   } 

.abhi{
    display: flex;
    background-color: antiquewhite;
    height: 432px;
    position: relative;
    top: 20px;
}


.second{
    position: relative;
    top: 10px;
    height: 420px;
    width: 420px;
    border: 2px solid none;
left: 20px;
    
}
.second1{
    height: 150px;
    width: 170px;
     background-image: url(second.jpg);
     background-size: cover;
     position: relative;
top: 15px;
left: 20px;

   border: 2px solid none;
   

}
            .second2{
    height: 150px;
    width: 180px;
     background-image: url(second2.jpg);
     background-size: cover;
     position: relative;
        border: 2px solid none;
     left: 20px;
     top: 54px;
      

    
            }

      .second3{
    height: 150px;
    width: 180px;
     background-image: url(second3.jpg);
     background-size: cover;
     position: relative;
     left: 220px;
     bottom: 23%;
      

       border: 2px solid none;
}
                  
 .second4{
    height: 150px;
    width: 180px;
     background-image: url(second4.jpg);
     background-size: cover;
     position: relative;
     left: 220px;
     bottom: 104%;
    
        border: 2px solid none;
     
}

.second:hover{
    border: 2px solid brown;
}
.second1:hover{
    border: 2px solid green;
}
.second2:hover{
    border: 2px solid green;
}
.second3:hover{
    border: 2px solid green;
}
.second4:hover{
    border: 2px solid green;
}
.secondtext4{
    height: 10px;
    width: 200px;
    position: relative;
    left: 216px;
    bottom: 111%;
     font-size: small;

}
.secondtext1{
    height: 10px;
    width: 200px;
    position: relative;
    left: 20px;
    bottom: 102%;
     font-size: small;

}
.secondtext2{
    height: 10px;
    width: 200px;
    position: relative;
    left: 20px;
    bottom: 60%;
     font-size: small;

}
.secondtext3{
    height: 10px;
    width: 200px;
    position: relative;
    left: 219px;
    bottom: 62%;
     font-size: small;

}

.third{
      position: relative;
    top: 10px;
    height: 420px;
    width: 420px;
    border: 2px solid none;
    left: 100px;
}

.third1{
     height: 142px;
    width: 170px;
     background-image: url(third1.jpg);
     background-size: contain;
     position: relative;
top: 15px;
left: 20px;

   border: 2px solid none;
}

            .third2{
    height: 140px;
    width: 179px;
     background-image: url(third2.jpg);
     background-size: cover;
     position: relative;
        border: 2px solid none;
     left: 20px;
     top: 46px;
    
            }

      .third3{
    height: 140px;
    width: 179px;
     background-image: url(third3.jpg);
     background-size: cover;
     position: relative;
     left: 220px;
     bottom: 23%;
     
       border: 2px solid none;
}
                  
 .third4{
    height: 142px;
    width: 180px;
     background-image: url(third4.jpg);
     background-size: cover;
     position: relative;
     left: 220px;
     bottom: 97.5%;
    
        border: 2px solid none;
     
}

.third:hover{
    border: 2px solid brown;
}
.third1:hover{
    border: 2px solid green;
}
.third2:hover{
    border: 2px solid green;
}
.third3:hover{
    border: 2px solid green;
}
.third4:hover{
    border: 2px solid green;
}

.thirdtext4{
    height: 10px;
    width: 200px;
    position: relative;
    left: 219px;
    bottom: 103%;
     font-size: small;

}
.thirdtext1{
    height: 10px;
    width: 200px;
    position: relative;
    left: 20px;
    bottom: 96%;
     font-size: small;

}
.thirdtext2{
    height: 10px;
    width: 200px;
    position: relative;
    left: 20px;
    bottom: 58%;
     font-size: small;

}
.thirdtext3{
    height: 10px;
    width: 200px;
    position: relative;
    left: 219px;
    bottom: 61%;
     font-size: small;

}




.four{

    
      position: relative;
    top: 10px;
    height: 420px;
    width: 420px;
    border: 2px solid none;
    left: 170px;
}

.four1{
     height: 142px;
    width: 170px;
     background-image: url(four1.jpg);
     background-size: contain;
     position: relative;
top: 15px;
left: 20px;

   border: 2px solid none;
}

            .four2{
    height: 140px;
    width: 179px;
     background-image: url(four2.jpg);
     background-size: cover;
     position: relative;
        border: 2px solid none;
     left: 20px;
     top: 46px;
    
            }

      .four3{
    height: 140px;
    width: 179px;
     background-image: url(four3.jpg);
     background-size: cover;
     position: relative;
     left: 220px;
     bottom: 22.5%;
     
       border: 2px solid none;
}
                  
 .four4{
    height: 142px;
    width: 180px;
     background-image: url(four4.jpg);
     background-size: cover;
     position: relative;
     left: 220px;
     bottom: 97.5%;
    
        border: 2px solid none;
     
}

.four:hover{
    border: 2px solid brown;
}
.four1:hover{
    border: 2px solid green;
}
.four2:hover{
    border: 2px solid green;
}
.four3:hover{
    border: 2px solid green;
}
.four4:hover{
    border: 2px solid green;
}

.fourtext4{
    height: 10px;
    width: 200px;
    position: relative;
    left: 219px;
    bottom: 103%;
     font-size: small;

}
.fourtext1{
    height: 10px;
    width: 200px;
    position: relative;
    left: 20px;
    bottom: 96%;
    font-size: small;
}
.fourtext2{
    height: 10px;
    width: 200px;
    position: relative;
    left: 20px;
    bottom: 58%;
     font-size: small;

}
.fourtext3{
    height: 10px;
    width: 200px;
    position: relative;
    left: 219px;
    bottom: 61%;
     font-size: small;

}


.five{
    height: 300px;
    background-image: url(five.jpg);
    background-size: cover;
    position: relative;
    top: 40px;

}
.five:hover{
    border: 2px solid brown;
}

.pal{
    position: relative;
    top: 60px;
  height: 600px;  
  display: flex;  
  background-color: bisque;
  
}
.pal:hover{
border: 2px solid brown;
}


.one{
    height: 90%;
    width: 350px;
    background-image: url(1.png);
    background-size: cover;
    margin: 20px;
}
.two{
    height: 90%;
    width: 350px;
    background-image: url(2.png);
    background-size: cover;
     margin: 20px;
}
.three{
    height: 90%;
    width: 350px;
    background-image: url(3.png);
    background-size: cover;
     margin: 20px;
}
.fourth{
    height: 90%;
    width: 350px;
    background-image: url(4.png);
    background-size: cover;
     margin: 20px;
}

.one:hover{
    border: 2px solid green;
}
.two:hover{
    border: 2px solid green;
}
.three:hover{
    border: 2px solid green;
}
.fourth:hover{
    border: 2px solid green;
}
